.navbar{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    box-shadow: 0 1px 3px -2px black;
}

.buttons{
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 2px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 15px;
}

.buttons button{
    font-family: inherit;
    font-size: inherit;
    width: 90px;
    height: 40px;
    outline: none;
    color: white;
    background: black;
    cursor: pointer;
    border-radius: 75px;
    border: 1px white;
}